<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
    <style>
        button { display:block; margin:10px; padding:10px }
        .green { background:green; color:white }
        .red { background:red; color:white }
    </style>
</head>
<body>

<h3 id="no"></h3>
<h2 id="q"></h2>
<div id="opts"></div>

<script>
function load(){
    fetch("/question")
    .then(r=>r.json())
    .then(d=>{
        if(d.done){
            fetch("/result").then(r=>r.json()).then(res=>{
                document.body.innerHTML = `
                <h2>Result</h2>
                <p>Total: ${res.total}</p>
                <p>Correct: ${res.correct}</p>
                <p>Wrong: ${res.wrong}</p>
                <p>Accuracy: ${res.accuracy}%</p>
                `;
            })
            return;
        }

        document.getElementById("no").innerText =
            `Question ${d.no} / ${d.total}`;
        document.getElementById("q").innerText = d.q;

        let div = document.getElementById("opts");
        div.innerHTML = "";

        ["a","b","c","d"].forEach((o,i)=>{
            let b = document.createElement("button");
            b.innerText = d.opts[i];
            b.onclick = ()=>check(o,b);
            div.appendChild(b);
        })
    })
}

function check(opt,btn){
    fetch("/answer",{
        method:"POST",
        headers:{'Content-Type':'application/json'},
        body:JSON.stringify({selected:opt})
    }).then(r=>r.json()).then(res=>{
        btn.className = res.right ? "green" : "red";
        setTimeout(load,700);
    })
}

load();
</script>

</body>
</html>
